@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

body {
	font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
	body {
		font-family: "Inter var", sans-serif;
	}
}

code,
pre {
	font-family: "Fira Code", monospace;
	font-variant-ligatures: common-ligatures;
}

.tsd-filter-visibility {
	display: none !important;
}
