/* Get Inter font from Inter's site */
@import url("https://rsms.me/inter/inter.css");
/* Get Fira Code from Bunny fonts (better privacy than Google Fonts) */
@import url("https://fonts.bunny.net/css?family=fira-code:400,700&display=swap");

/* Custom fonts */

body {
	font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
	body {
		font-family: "Inter var", sans-serif;
	}
}

code,
pre {
	font-family: "Fira Code", monospace;
	font-variant-ligatures: common-ligatures;
}

/* Color customizations. */

:root {
	--color-link: #0a8 !important;
	--light-color-background-secondary: #ddd !important;
}

/* Hidden elements */

.tsd-filter-visibility {
	display: none !important;
}

/* Other custom styles */

.tsd-page-toolbar {
	align-items: center;
	border-bottom: 0;
	box-sizing: border-box;
	display: flex;
	height: 4rem;
	justify-content: center;
}

.tsd-toolbar-contents {
	width: 100%;
}

#tsd-search {
	border-radius: 0.5rem;
}

.col-content {
	padding-top: 3rem !important;
}

@media (max-width: 1024px) {
	.col-content {
		padding-top: 5rem !important;
	}
}
